<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>productImagePath</param-name>
        <param-value>img/product/</param-value>
    </context-param>
    <context-param>
        <param-name>starImagePath</param-name>
        <param-value>img/star/</param-value>
    </context-param>
    <context-param>
        <param-name>categoryImagePath</param-name>
        <param-value>img/category/</param-value>
    </context-param>
    <context-param>
        <description>The delivery surcharge applied to all orders</description>
        <param-name>deliverySurcharge</param-name>
        <param-value>5.00</param-value>
    </context-param>
</web-app>
